@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
}

.banner-image {
  background-image: url('./assets/header-img.jpg');
  background-size: cover;
}

.banner {
  background-image: url('./assets/banner.jpg');
  background-size: cover;
}