/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
} */

.banner-image {
  background-image: url('./assets/header-img.jpg');
  background-size: cover;
}

.banner {
  background-image: url('./assets/banner.jpg');
  background-size: cover;
}

.scroll {
  height: 200px;
  overflow: hidden;
}
.ss {
    transition: all 2000ms ease-out;
}
.scroll:hover .ss {
    transform: translateY(-100%);
}